<!-- <div class="container-fluid category text-center">
    <div>
        <h1 class="mb-0">Agents</h1>
        <a class="fancy" routerLink="/agents">
            <span class="top-key"></span>
            <span class="text">See All Agents</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
    </div>
</div>
<div class="container-fluid category text-center">
    <div>
        <h1 class="mb-0">Maps</h1>
        <a class="fancy" routerLink="/maps">
            <span class="top-key"></span>
            <span class="text">See All Maps</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
    </div>
</div>
<div class="container-fluid category text-center">
    <div>
        <h1 class="mb-0">Weapons</h1>
        <a class="fancy" routerLink="/weapons">
            <span class="top-key"></span>
            <span class="text">See All Weapons</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
    </div>
</div>
<div class="container-fluid category text-center">
    <div>
        <h1 class="mb-0">Player Cards</h1>
        <a class="fancy" routerLink="/playercards">
            <span class="top-key"></span>
            <span class="text">See All Cards</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
    </div>
</div>
<div class="container-fluid category text-center">
    <div>
        <h1 class="mb-0">Bundles</h1>
        <a class="fancy" routerLink="/bundles">
            <span class="top-key"></span>
            <span class="text">See All Bundles</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
    </div>
</div> -->
<div class="wrapper">
    <div class="wrapper__grid">
        <div class="category__grid">
            <div class="category">
                <h1 class="mb-0">Agents</h1>
                <a class="fancy" routerLink="/agents">
                    <span class="top-key"></span>
                    <span class="text">See All Agents</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
            </div>
            <div class="category">
                <h1 class="mb-0">Maps</h1>
                <a class="fancy" routerLink="/maps">
                    <span class="top-key"></span>
                    <span class="text">See All Maps</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
            </div>
            <div class="category">
                <h1 class="mb-0">Weapons</h1>
                <a class="fancy" routerLink="/weapons">
                    <span class="top-key"></span>
                    <span class="text">See All Weapons</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
            </div>
            <div class="category">
                <h1 class="mb-0">Cards</h1>
                <a class="fancy" routerLink="/playercards">
                    <span class="top-key"></span>
                    <span class="text">See All Cards</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
            </div>
            <div class="category">
                <h1 class="mb-0">Bundles</h1>
                <a class="fancy" routerLink="/bundles">
                    <span class="top-key"></span>
                    <span class="text">See All Bundles</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
            </div>
        </div>
        <div class="illustration__wrapper">
            
        </div>
    </div>
</div>
