<div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center gap-3 searchbar__container">
        <div class="d-flex gap-3 align-items-center">
          <div>
            <button class="back__btn" routerLink="/">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>
          <h1>Player Cards</h1>
        </div>
        <input [(ngModel)]="term" type="text" placeholder="Enter Card name here">
      </div>
    <div class="playercard__container__grid">
        <div class="playercard__container" *ngFor="let card of cards_array | filter:term">
            <img src="{{ card.wideArt}}" alt="">
            <div class="p-3">
                <h1 class="mb-0">{{ card.displayName }}</h1>
            </div>
            <div class="ps-3 pe-3 pt-0 pb-3">
                <button class="ghost__button" (click)="getSinglePlayerCard(card.uuid)">View Full Card</button>
            </div>
        </div>
    </div>
</div>
<!-- View Single Agent Modal -->
<div class="container">
    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <ng-container *ngFor="let card_info of single_card_array"> 
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">{{ card_info.displayName }}</h1>
                    <img class="card__icon" src="{{ card_info.smallArt }}" alt="">
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="{{ card_info.largeArt }}" alt="">
                    </div>
                </div>
            </ng-container>
            <div class="modal-footer">
              <button class="ghost__button" type="button" data-bs-dismiss="modal" (click)="closeSinglePlayerCard()">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
<button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
    <i class="fa-solid fa-chevron-up"></i>
</button>