.bundles__container__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    .bundles__container {
        background-color: #0D1820;
        width: fit-content;
        border-radius: 8px;
        margin: 0 auto;
        h1 {
            color: #FFF;
            font-family: 'Bebas Neue', cursive;
            font-size: 32px;
        }
        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}