/* You can add global styles to this file, and also import other style files */
:root {
    --clr-background: #0b1118;
    --clr-neverything: #0D1820;
    --clr-hotterthanhell: #FF4654;
    --clr-whitelight: #FFFFFF;
    --clr-gray: gray;
    --ff-bebas: 'Bebas Neue', cursive;
    --ff-inter: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img, video {
    max-width: 100%;
    height: auto;
}
html, body {
    height: 100%;
}
body {
    background-color: var(--clr-background);
}
h1,h2,h3,h4,h5,p {
    margin: 0;
}
.scroll-top--btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100px !important;
    outline: none;
    padding: 0 !important;
    background-color: #FF4654;
    border: none;
    color: var(--clr-whitelight);
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #b3313b;
    }
}
.back__btn {
    background-color: transparent;
    border: none;
    color: var(--clr-whitelight);
}