/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img, video {
    max-width: 100%;
    height: auto;
}
html, body {
    height: 100%;
}
body {
    background-color: #0b1118;
}
h1,h2,h3,h4,h5,p {
    margin: 0;
}